.titile {
  margin-top: 25px;
  padding: 20px;
  text-align: center;
}

.post {
  max-width: 360px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px #58585818;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post__title {
  text-align: center;
}

.post__print {
  font-size: 16px;
  padding: 20px;
  font-weight: 500;
}

.post__btn {
  width: 100%;
  border: none;
  height: 40px;
  border-radius: 20px;
  background-color: #419efc;
  font-size: 16px;
  font-weight: 500;
  color: white;
  transition: all 0.5s linear;
  cursor: pointer;
}

.post__btn:hover {
  opacity: 0.5;
  transition: all 0.5s linear;
}

@media (max-width: 650px) {
  .posts {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .post {
    margin: 0 auto;
  }
}

@media (max-width: 979px) {
  .post {
    margin: 0 auto;
  }
}
