.post__btn {
  width: 100%;
  border: none;
  height: 40px;
  border-radius: 20px;
  background-color: #419efc;
  font-size: 16px;
  font-weight: 500;
  color: white;
  transition: all 0.5s linear;
  cursor: pointer;
}

.post__btn:hover {
  opacity: 0.5;
  transition: all 0.5s linear;
}
